.DS_Store
__pycache__/*
__MACOSX/*

Datasubset/*
venv/
run.sh

obj_detection/dino/dinov2_finetune
obj_detection/dino/yolo11n.pt
obj_detection/dino/yolo11n.pt
obj_detection/dino/yolo12l.pt
obj_detection/dino/yolo12m.pt
obj_detection/dino/final_model/*
obj_detection/binary_cls/wandb
obj_detection/dino/blur
obj_detection/dino/canny
obj_detection/dino/contours
obj_detection/dino/masks


coco_annotations.json

training/vacuum_pump/images/augmented
training/vacuum_pump/annotation/augmented
yolo_runs
temp_images
training/qwen
qwen_2_5_vl_7b_ft
lightning_logs